.container {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
  width: 100%;

  @media only screen and (max-width: 500px) {
    padding: 1em 1.5em;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    max-width: 600px;
    text-align: center;
  }

  h1,
  span {
    text-transform: capitalize;
  }

  span {
    font-style: italic;
  }

  @media only screen and (max-width: 840px) {
    text-align: center;
    flex-direction: column;
    h1 {
      font-size: 2rem;
    }
  }
}

.logo {
  margin-bottom: 1em;

  img {
    width: 130px;
  }
}

.main-layout {
  display: flex;
  gap: 2em;

  .desktop-nav {
    display: none;
    padding: 2em 0;
    margin-right: 2em;

    @media only screen and (min-width: 600px) {
      display: flex;
      flex-direction: column;
      min-width: fit-content;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    width: fit-content;
  }

  @media only screen and (max-width: 599px) {
    flex-direction: column;
  }
}
