/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 40px;
  height: 35px;
  left: 30px;
  top: 23px;
  
  & > * {
    box-shadow: none;
  }

  @media screen and (min-width: 600px) {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $color-dark;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $color-primary;
  opacity: 1 !important;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  top: 0;
  left: 0 !important;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

/* General sidebar styles */
.bm-menu {
  background: $color-dark;
  padding: 1em 1.5em 0;
  font-size: 1rem;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
  top: 0px;
  left: 0;

  @media only screen and (min-width: 600px) {
    display: none;
  }
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 35px !important;
  width: 35px !important;
  right: 20px !important;
  top: 20px !important;

  &:hover .bm-cross {
    background: $color-primary;
  }
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: auto !important;
  color: white;

  p {
    color: white;
    opacity: 0.8;
  }
}
